<template>
    <div>
        <b-row>
            <b-table :items="cart_products" :fields="fields">
                <template v-slot:cell(brand)="row">
                    {{ row.item.brand.name }}
                </template>
                <template v-slot:cell(name)="row">
                    {{ row.item.name }}
                </template>
                <template v-slot:cell(price)="row">
                    {{ row.item.price }}
                </template>
                <template v-slot:cell(button)="row">
                    <b-button @click="removeProduct(row.item)">Remove</b-button>
                </template>
            </b-table>
        </b-row>
        <b-row>
            <b-col sm="3">
                <label for="client_name">Name: </label>
            </b-col>
            <b-col sm="9">
                <b-form-input id="client_name" v-model="client_info.name"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
            <b-col sm="3">
                <label for="client_address">Address: </label>
            </b-col>
            <b-col sm="9">
                <b-form-input id="client_address" v-model="client_info.address"
                              :state="Boolean(client_info.address)"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
            <b-col sm="3">
                <label for="shipping_option">Shipping option: </label>
            </b-col>
            <b-col sm="9">
                <b-form-radio-group id="shipping_option" v-model="client_info.shipping_option"
                                    :state="Boolean(client_info.shipping_option)">
                    <b-form-radio :value="ShippingOptions.FREE_STANDARD">Free standard</b-form-radio>
                    <b-form-radio :value="ShippingOptions.EXPRESS">Express 10 EUR</b-form-radio>
                </b-form-radio-group>
            </b-col>
        </b-row>
        <b-row>
            <ul v-if="show_errors && errors.length">
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </b-row>
        <b-row>
            <b-button @click="pay">Pay</b-button>
        </b-row>
    </div>
</template>
<script>
const routeFetchProducts = '/api/products/'
import {mapState} from 'vuex';
import {ShippingOptions} from '../constants.js';

export default {
    data() {
        return {
            show_errors: false,
            fields: [
                {
                    key: "brand",
                    label: "Brand",
                },
                {
                    key: "name",
                    label: "Name",
                },
                {
                    key: "price",
                    label: "Price",
                },
                {
                    key: "button",
                    label: "",
                },
            ],
        }
    },
    computed: {
        errors() {
            let errors = [];
            if(!this.client_info.name || this.client_info.name.length < 1){
                errors.push('Name should be at least 1 character');
            }
            if(!this.client_info.address || this.client_info.address.length < 3){
                errors.push('Address should be at least 3 characters');
            }
            if(!this.client_info.shipping_option){
                errors.push('Choose shipping option');
            }
            return errors;
        },
        ShippingOptions() {
            return ShippingOptions;
        },
        ...mapState({
            cart_products: state => state.cart_products,
            client_info: state => state.client_info,
        })
    },
    methods: {
        removeProduct(item) {
            this.$store.commit('removeProduct', item);
        },
        pay() {
            this.show_errors = true;
            if(this.errors.length){
                return;
            }
            this.$store.commit('saveClientInfo', this.client_info);
            this.$router.push({name: 'payment'});
        }
    }
};
</script>

<style scoped>

</style>
