<template>
    <div>
        <b-row>
            <b-table :items="products" :fields="fields">
                <template v-slot:cell(brand)="row">
                    {{ row.item.brand.name }}
                </template>
                <template v-slot:cell(name)="row">
                    {{ row.item.name }}
                </template>
                <template v-slot:cell(price)="row">
                    {{ row.item.price }}
                </template>
                <template v-slot:cell(button)="row">
                    <b-button @click="addProduct(row.item)">Add to cart</b-button>
                </template>
            </b-table>
        </b-row>
        <b-row>
            <p>Products in cart: {{ cart_products.length }}</p>
        </b-row>
        <b-row>
            <ul v-if="show_errors && errors.length">
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </b-row>
        <b-row>
            <b-button @click="checkout">Checkout</b-button>
        </b-row>
    </div>
</template>
<script>
const routeFetchProducts = '/api/products/'
import {mapState} from 'vuex';

export default {
    data() {
        return {
            show_errors: false,
            products: [],
            fields: [
                {
                    key: "brand",
                    label: "Brand",
                },
                {
                    key: "name",
                    label: "Name",
                },
                {
                    key: "price",
                    label: "Price",
                },
                {
                    key: "button",
                    label: "",
                },
            ],
        }
    },
    computed: {
        ...mapState({
            cart_products: state => state.cart_products
        }),
        errors() {
            let errors = [];
            if(!this.cart_products.length){
                errors.push('Add at least one product');
            }
            return errors;
        },
    },
    created() {
        this.fetch();
    },
    methods: {
        fetch() {
            this.axios.get(routeFetchProducts)
                .then(response => {
                    this.products = response.data;
                })
                .catch(error => {
                    if(error.response.data.errors){
                        let text = Object.values(error.response.data.errors).join('<br>');
                        this.$toast.error(text);
                    }else{
                        this.$toast.error('Error');
                    }
                });
        },
        addProduct(item) {
            this.$store.commit('addProduct', item);
        },
        checkout() {
            this.show_errors = true;
            if (this.errors.length) {
                return;
            }
            this.$router.push({name: 'checkout'});
        }
    }
};
</script>
