<template>
    <div>
        <b-row>
            <b-col sm="3">
                <label for="card_number">Card number: </label>
            </b-col>
            <b-col sm="9">
                <b-form-input id="card_number" v-model="card_info.number"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
            <b-col sm="3">
                <label for="card_expiration_month">Card expiration month: </label>
            </b-col>
            <b-col sm="9">
                <b-form-input id="card_expiration_month" v-model="card_info.expiration_month"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
            <b-col sm="3">
                <label for="card_expiration_year">Card expiration year: </label>
            </b-col>
            <b-col sm="9">
                <b-form-input id="card_expiration_year" v-model="card_info.expiration_year"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
            <b-col sm="3">
                <label for="card_cvv">Card CVV: </label>
            </b-col>
            <b-col sm="9">
                <b-form-input id="card_cvv" v-model="card_info.cvv"></b-form-input>
            </b-col>
        </b-row>
        <b-row>
            <b-button @click="pay">Pay</b-button>
        </b-row>
    </div>
</template>
<script>
const routeStoreOrder = '/api/orders/';
import {mapState} from 'vuex';

export default {
    data() {
        return {
            errors: [],
            card_info: {
                number: null,
                expiration_month: null,
                expiration_year: null,
                cvv: null
            },
        }
    },
    computed: {
        ...mapState({
            cart_products: state => state.cart_products,
            client_info: state => state.client_info,
        })
    },
    methods: {
        pay() {
            this.axios.post(routeStoreOrder, {
                card_info: this.card_info,
                client_info: this.client_info,
                cart_products: this.cart_products
            })
                .then(response => {
                    this.$router.push({name: 'success'});
                })
                .catch(error => {
                    if (error.response.data.errors) {
                        let text = Object.values(error.response.data.errors).join('<br>');
                        this.$toast.error(text);
                    } else {
                        this.$toast.error('Error');
                    }
                });
        }
    },

}

</script>

<style scoped>

</style>
